[functions]
click = function click_on(id) {document.getElementById(id).click();};
enter_text = function enter_text(id, text) {document.getElementById(id).innerText = text; };
get_row_sibling = function get_row_sibling(table_selector, cell_text, sibling) {var table = document.querySelector(table_selector);var cells = table.querySelectorAll('td');for(i = 0; i < cells.length; i++) {var cell = cells[i];if (cell.innerText == cell_text) {var row = cell.parentNode;var sibling = row.querySelector(sibling);return sibling.id;} }};