[browser]
where="local"  # remote
name="firefox" # chrome
user_agent="random" # or string

[remote]
url="http://127.0.0.1:4444/wd/hub" # standalone chrome

[firefox]
arguments="/home/red/workshops/tools/selenium_automation/config/firefox_arguments.dat"
# extensions="path;"
# profile='/home/red/WAREHOUSE/profiles/automat_firefox'


[chrome]
arguments="chrome_arguments.dat"
experimental="chrome_experimental.dat"
# extensions="path1;path2"
# profile="PATH"
